.container{
    margin: 70px;
    padding: 20px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}
.header{
    background-color: white;
    padding: 15px 30px;
    display: inline-block;
    width: 100%;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(198, 192, 238, 0.767);
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container > p:first-letter {
    font-size: 2rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
}

.info .title{
    color: cadetblue;
    font-size: 0.75rem;
    margin: 0;
}

.info .description{
    margin-left: 20px;
    margin-top: 0;
    font-size: 0.75rem;
}

ol {
    transform: rotate(180deg);
}
ol > li {
    transform: rotate(-180deg);
}
